# compiled output
**/.DS_Store
**/dist
**/node_modules
**/migration
**/ormconfig.json

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# OS
**/.DS_Store

# Tests
**/coverage
**/.nyc_output

# IDEs and editors
**/.idea
**/.project
**/.classpath
**/.c9/
*.launch
**/.settings/
*.sublime-workspace
**/.editorconfig

# IDE - VSCode
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json
**/avatar

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/certificates
**/*.pem
**/*.key
**/*.pfx
**/*.csr
**/*.crt
**/*.env
**/*.d.ts
**/*.d.ts.map

# Cypress test result
**/__tests__/**/*.png
**/__tests__/**/*.mp4

**/*.csv
**/*.ttf
**/*.woff2
**/*.zip

# Report File
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
