table tbody tr td {
    font-family: 'Visby Round', SansSerif, Arial, serif !important;
}

table thead tr th {
    font-family: 'Visby Round Bold', SansSerif, Arial, serif !important;
    font-size: 10pt !important;
    padding: 10pt 1.5rem !important;
}

.p-datatable .p-datatable-tbody>tr>td {
    border: none !important
}

.p-treetable-thead tr th {
    background: #1cb973 !important;
    color: #fff !important;
}

.p-treetable-thead tr th .pi {
    color: #fff !important;
}

.p-treetable-thead tr th, .p-treetable-thead tr th.p-filter-column {
    padding: 7px 1.5rem !important;
    font-size: 10pt !important;
}

.p-treetable-thead tr th.p-filter-column>div.p-column-filter {
    padding: 0 !important;
}

.p-treetable-thead tr th.p-filter-column .p-column-filter input {
    padding: 5px 10px !important;
}

.p-treetable-thead tr th.p-filter-column .p-column-filter .p-link {
    padding: 0 !important;
}

.p-treetable-thead tr th.p-filter-column .p-column-filter .p-link .pi {
    font-size: 6pt !important;
}

.p-treetable-thead tr th .p-sortable-column-icon {
    font-size: 6pt !important;
}

/*==============================================================*/
.p-treetable .p-treetable-thead > tr > th {
    border: none !important;
}

.p-datatable .p-datatable-thead > tr > th {
    border: none !important;
}

.p-datatable .p-datatable-thead > tr:nth-child(odd) > th {
    border-bottom: solid 1.5px #00874b !important;
}

.p-datatable-table thead tr th {
    background: #1cb973 !important;
    color: #fff !important;
}

.p-datatable-table thead tr th .pi {
    color: #fff !important;
}

.p-datatable-table thead tr th .p-column-filter-menu-button-active {
    background: #8ca0fa !important;

}

.p-datatable-table thead tr th .p-column-filter-menu-button-active .pi {
    color: #fff !important;
}

tbody tr:nth-child(even) td {
    background: #eff2fe !important;
}

th.p-filter-column input.p-inputtext {
    padding: 8px !important;
    font-size: 8pt !important;
}

tbody tr td {
    font-size: 8pt !important;
    padding: 10px !important;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

tbody tr:hover td {
    background: #dde3ff !important;
}

.p-treetable .p-treetable-tbody>tr>td {
    border: none !important
}

tbody.p-treetable-tbody tr td .p-treetable-toggler {
    width: 1rem;
    height: 1rem;
    background: #fafafa !important;
}

tbody.p-treetable-tbody tr td .p-treetable-toggler-icon {
    font-size: 8pt !important;
}

tbody.p-treetable-tbody tr td .p-buttonset button.p-button.p-button-sm {
    margin-right: 0 !important;
    font-size: 10pt !important;
    padding: 8px !important;
}

tbody.p-treetable-tbody tr td:last-child {
    white-space: nowrap;
}

tbody.p-treetable-tbody tr td .p-buttonset {
    display: inline-flex;
}

tbody.p-treetable-tbody tr td .p-buttonset button {
    padding: 10px !important;
}

tbody.p-treetable-tbody tr td .p-buttonset .p-button.p-button-icon-only {
    width: auto !important;
    margin-right: 0 !important;
}

tbody.p-treetable-tbody tr td .p-buttonset button span {
    font-size: 8pt !important;

}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last,
.p-paginator .p-paginator-page {
    width: auto !important;
    min-width: 1px !important;
    height: auto !important;
    padding: 10px !important;
}

.p-datatable-header {
    border: none !important
}

.p-paginator .p-paginator-icon,
.p-paginator .p-paginator-page {
    font-size: 8pt !important;
}






/*=================================== DATATABLE =====================================*/
.p-datatable-table {
    font-family: Karla, SansSerif, Arial, serif !important;
}

.p-datatable-table thead tr th, .p-datatable-table thead tr th.p-filter-column {
    padding: 7px 1.5rem !important;
    font-size: 10pt !important;
}

.p-datatable-table thead tr th.p-filter-column>div.p-column-filter {
    padding: 0 !important;
}

.p-datatable-table thead tr th.wrapped {
    width: 1%;
    white-space: nowrap;
}

.p-datatable-table thead tr th.wrapped button {
    white-space: nowrap;
}

.p-column-filter-menu-button {
    width: 20px !important;
    height: 20px !important;
}

.p-datatable-table thead tr th.p-filter-column .p-column-filter input {
    padding: 5px 10px !important;
}

.p-datatable-table thead tr th.p-filter-column .p-column-filter .p-link {
    padding: 0 !important;
}

.p-datatable-table thead tr th.p-filter-column .p-column-filter .p-link .pi {
    font-size: 6pt !important;
}

.p-datatable-table thead tr th .p-sortable-column-icon {
    font-size: 6pt !important;
}

.p-datatable-table tbody tr td {
    padding: 5px 1.5rem !important;
    font-size: 10pt !important;
}

.p-datatable-table tbody tr td img {
    border: solid 1px #ccc !important;
    height: 20px !important;
    border-radius: 2.5px !important;
}

.p-datatable-table tbody tr td button.p-button {
    font-size: 7pt !important;
    padding: 5px !important;
}

.p-datatable-table tbody tr td button.p-button span.material-icons {
    font-size: 8pt !important;
    margin: 0 4px;
}

.p-datatable-table tbody tr td .checkbox-custom {
    margin: 10px;
}

.vert-top tr td {
    vertical-align: top !important;
}