/* Styles go here */

.pdf-content {
    width: 100% !important;
    max-width: 100% !important;
}

.page-header,
.page-header-space {
    height: 100px;
}

.page-footer,
.page-footer-space {
    height: 50px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black; /* for demo */
    background: yellow; /* for demo */
}

.page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
}

.page {
    page-break-after: always;
}

@page {
    margin: 20mm;
}

@media print {
    thead {
        display: table-header-group;
    }
    tfoot {
        display: table-footer-group;
    }

    button {
        display: none;
    }

    body {
        margin: 0;
    }
}

.print-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 2mm 10mm;
    font-family: GreyCliff;
    border-collapse: collapse;
    border: double 3px black;
    font-size: 6pt !important;
}

.print-container table {
    width: 100%;
}

.print-container table tr td {
    background: #fff !important;
}

.print-container table tr td.input {
    font-size: 6pt !important;
    letter-spacing: 1px;
    font-family: 'Courier New', monospace !important;
}

.print-container table tr th,
.print-container table tr td {
    font-size: 7.2pt !important;
    padding: 2.5px !important;
    background: #fff;
}
.print-container table tr td.wrap_content,
.print-container table tr th.wrap_content {
    word-wrap: break-word !important;
    white-space: nowrap !important;
    width: 1% !important;
}

.print-container table tr.detail-item td {
    padding: 0 10px !important;
    vertical-align: top;
}

.print-container table tr td .item-remark {
    margin-left: 20px;
    font-size: 6pt !important;
}

.print-container table.signer tr:first-child td {
    height: 50px !important;
}

.print-container table.signer tr:last-child td {
    text-align: center;
}
